*{
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  padding-left: 0;
}
li{
  text-decoration: none;
}
body{
}
.header{
  width: 100%;
  height: auto;
}
.header-back{
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.header-back img{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation :slideshow 18s linear infinite;
}
.header-back img:nth-child(2){
   animation-delay: 6s;
}
.header-back img:last-child{
   animation-delay: 12s;
}
@keyframes slideshow {
  0%{opacity: 0;}
  10%{opacity: 1;}
  28%{opacity: 1}
  38%{opacity: 0;}
  100%{opacity: 0;}
}

.header-top{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: rgb(68,68,68,0.8);
}
.header-logo-left{
  width: 40%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;

}
.header-logo-left i{
  font-size: 2rem;
  color: white;
}
.close{
  display: none;
}
.header-logo-left a{
  border: 1px solid white;
  padding: 5px 20%;
  color: white;
}
.header-logo-left a:hover{
  transition-property:all;
  transition-duration:1s;
  background-color: white;
  color: gray;
}
.header-logo-right{
  width: 5%;
  height: 100%;
  line-height: 100%;
  padding-right: 50px;
}
.header-logo-right:hover{
  transition-property:all;
  transition-duration:1s;
  opacity: 0.3;
}
.header-logo-L{
  width: 100%;
  text-align: center;
  opacity: 1;
  background-color: pink;
}
.header-logo-L img{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-list{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  background-color:white;
  opacity: 0.9;
  display: none;
  z-index: 40;

}
.open{
  display: block;
}
.BBB:before{
  color: black;
}
.header-click{
  width: 100%;
  padding-top: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.click-top a{
  margin: 10px 30px ;
  font-size: 3rem;
}
.click-bottom a{
  margin: 10px 20px;
  font-size: 2rem;
}
.fab{
  padding-right: 5px;
}
.click-tel{
  width: 100%;
  margin-top: 50px;
}
.header-click a:hover{
  background-color: black;
  color:white;
  transition-property:all;
  transition-duration:1s;
}
.click-tel a{
  border: 1px solid black;
  padding: 10px 10%;
  color: black;
  font-size: 2rem;
}
.main{
  width: 100%;
  margin-top: 100px;
  display:block;
}
.container0{
  width: 80%;
  margin: 100px auto;
}
.staff{
  display: flex;
  justify-content: space-between;
}
.staff-image{
  width: 40%;
}
.staff-image img{
  width: 100%;
}
.text{
  padding-left: 10px;
  width: 30%;
  border-top:2px solid black;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  z-index: 1;
}
.container1{
  width: 80%;
  margin:100px auto;

}
.gallery{
  display: flex;
  justify-content: center;
  position: relative;
}
.gallery-image{
  width: 60%;

}
.gallery-image:hover{
  transition:all;
  transition-duration: 1s;
  opacity: 0.6;
}
.gallery-image img{
  width: 100%;
}
.header-back{
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.header-back img{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation :slideshow 18s linear infinite;
}
.header-back img:nth-child(2){
   animation-delay: 6s;
}
.header-back img:last-child{
   animation-delay: 12s;
}



.AB{
  background-color: white;
  border: 2px solid black;
  margin: 0;
  position: absolute;
  left: 5%;
  box-shadow: 8px 8px;
}
.container2{
  width: 80%;
  padding-top:100px;
  margin: auto;
}
.map{
    border: 5px solid black;
}
iframe{
  width: 100%;

}
.calendars{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.sales{
  width: 50%;
}
.sales table{
  text-align: left;
  border-collapse: collapse;
  font-size:0.7rem;
}
.sales th{
  padding: 10px 20px;
}
.bb{
  border-right: 1px solid black;
}
.sales img{
  width:50%;
}
.sales-right{
  width: 60%;
}
.sales-right img{
  width: 100%;
}
.max-logo{
  width: 100%;
  height:auto;
  margin-top: 50px;
  padding:  0;
  text-align: center;
  background-color: rgb(68,68,68);
}
.max-logo img{
  width: 80px;
}
.footer-list{
  text-align: center;
  width: 80%;
  margin: auto;
}
.footer-list a{
    box-sizing: border-box;
  padding: 8px 20px;
  margin:5px 10px;
  border-bottom: 1px solid black;
}
.footer-list a:hover{
  background-color: black;
  color: white;
}
.footer-list ul{
  margin-top: 50px;
}
.footer-list small{
  margin-top: 50px;
  padding-bottom: 20px;
  display: block;
  opacity: 0.8
}
footer{
  background-color: rgb(221,221,221);
}
